samples/src/main/app/simple_workflow_integration_flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:perceptive-content-mulesoft="http://www.mulesoft.org/schema/mule/perceptive-content-mulesoft" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/perceptive-content-mulesoft http://www.mulesoft.org/schema/mule/perceptive-content-mulesoft/current/mule-perceptive-content-mulesoft.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <spring:beans>
        <spring:bean id="WorkflowTriggerInterceptor" name="WorkflowTriggerInterceptor" class="com.perceptivesoftware.mule.workflowtrigger.WorkflowTriggerInterceptor"/>
    </spring:beans>
    <perceptive-content-mulesoft:config name="Perceptive_Content" username="user" password="password" url="http://localhost:8080/integrationserver" doc:name="Perceptive Content"/>
    <flow name="Simple-Workflow-Integration" doc:name="Simple-Workflow-Integration" doc:description="A simple flow to illustrate how a user might interface with Perceptive Content Workflow using an Integration Queue and Envoy.">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="workflowTrigger" doc:name="HTTP"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.path' != '/favicon.ico']" doc:name="Filter Favorite Icon Request"/>
        <cxf:jaxws-service serviceClass="com.perceptivesoftware.mule.workflowtrigger.WorkflowTrigger" validationEnabled="true" doc:name="Workflow Trigger Web Service">
            <cxf:inInterceptors>
                <spring:ref bean="WorkflowTriggerInterceptor"/>
            </cxf:inInterceptors>
        </cxf:jaxws-service>
        <logger message="#[message.outboundProperties]" level="INFO" doc:name="Logger"/>
        <perceptive-content-mulesoft:get-workflow-item-info config-ref="Perceptive_Content" workflowItemId="#[message.outboundProperties.'asq.item.id']" doc:name="Get Workflow Item"/>
        <set-variable variableName="documentId" value="#[payload.objectId]" doc:name="Save Document Id"/>
        <flow-ref name="Save-Document-to-Disk" doc:name="Save to Disk"/>
        <flow-ref name="Handle-Success-Flow" doc:name="Handle Success"/>

        <catch-exception-strategy doc:name="Catch Exception Strategy:">
            <flow-ref name="Handle-Failure-Flow" doc:name="Handle Failure"/>

        </catch-exception-strategy>
    </flow>
    <sub-flow name="Save-Document-to-Disk" doc:name="Save-Document-to-Disk">
        <perceptive-content-mulesoft:get-document config-ref="Perceptive_Content" documentId="#[flowVars.documentId]" doc:name="Get Document Info"/>
        <choice doc:name="Any Pages?">
            <when expression="#[payload.pages.size() &gt; 0]">
                <set-variable variableName="fileName" value="#[payload.pages.get(0).id +&quot;.&quot; +payload.pages.get(0).extension]" doc:name="Save File Name"/>
                <perceptive-content-mulesoft:get-page-by-id config-ref="Perceptive_Content" documentId="#[flowVars.documentId]" pageNumber="1" doc:name="Get Document Page"/>
                <file:outbound-endpoint path="c:\temp" outputPattern="#[flowVars.fileName]" responseTimeout="10000" doc:name="Save to File"/>
                <logger message="#[&quot;Saved file &quot; + flowVars.fileName + &quot; to c:\\temp&quot;]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="No Pages Found!" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="Handle-Success-Flow" doc:name="Handle-Success-Flow">
        <perceptive-content-mulesoft:route-workflow-item config-ref="Perceptive_Content" destinationQueueId="#[message.outboundProperties.'asq.queue.success.id']" originQueueId="#[message.outboundProperties.'asq.queue.id']" originQueueName="#[message.outboundProperties.'asq.queue.name']" routeReason="MuleSoft Simple Workflow Success!" workflowItemId="#[message.outboundProperties.'asq.item.id']" doc:name="Route to Success Queue"/>
        <set-payload value="#[true]" doc:name="Set Success Status"/>
    </sub-flow>
    <sub-flow name="Handle-Failure-Flow" doc:name="Handle-Failure-Flow">
        <choice doc:name="Choice">
            <when expression="#[message.outboundProperties.'asq.item.id' != null]">
				<perceptive-content-mulesoft:route-workflow-item config-ref="Perceptive_Content" destinationQueueId="#[message.outboundProperties.'asq.queue.failure.id']" originQueueId="#[message.outboundProperties.'asq.queue.id']" originQueueName="#[message.outboundProperties.'asq.queue.name']" routeReason="MuleSoft Simple Workflow Failure!" workflowItemId="#[message.outboundProperties.'asq.item.id']" doc:name="Route to Failure Queue"/>
            </when>
            <otherwise>
                <logger message="!! Failed to route item to failure queue.  Flow execution failed before or during the processing the workflow integration call !!  " level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="#[false]" doc:name="Set Failure Status"/>
    </sub-flow>
</mule>
